layout {

    focus-ring {
        active-color   "#f1bf57"
        inactive-color "#17130c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f1bf57"
        inactive-color "#17130c"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#f1bf57"
        inactive-color "#b68a25"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f1bf5780"
    }
}

recent-windows {
    highlight {
        active-color "#f1bf57"
        urgent-color "#ffb4ab"
    }
}
